
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="author" content="Tinson Lai">

    <title><%= htmlWebpackPlugin.options.title %></title>

    <link rel="stylesheet" href="https://unpkg.com/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/chart.js@2.9.4/dist/Chart.min.css" integrity="sha384-q9MZ/PQCC1nIFQdrr9yNOFXeSaXjv/yPOJOdBd32aODh8+EM6udfo91a6mRbEDih" crossorigin="anonymous">

    <link rel="icon" type="image/png" sizes="192x192" href="https://raw.githubusercontent.com/sebhildebrandt/systeminformation/master/docs/assets/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://raw.githubusercontent.com/sebhildebrandt/systeminformation/master/docs/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://raw.githubusercontent.com/sebhildebrandt/systeminformation/master/docs/assets/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://raw.githubusercontent.com/sebhildebrandt/systeminformation/master/docs/assets/favicon-16x16.png">
  </head>
  <body />
</html>
