<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self' http://localhost ws://localhost data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">-->
        <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self' http://10.0.2.2 ws://10.0.2.2 data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">-->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' http://edcsystem.hopto.org ws://edcsystem.hopto.org data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
        <meta name="color-scheme" content="light dark">
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <!--<script src="cordova.js"></script>-->
    </body>
</html>
